body {
	background-color: #eaeaea;
}

.container {
	background-color: #f8f8f8;
	box-shadow: 0px 0px 13px 0px rgba(11,11,11,0.15);
}

.header-container {
	padding-top: 45px;
	padding-bottom: 45px;
}

.lemon-logo {
	margin-right: 90px;
}

.menu-list {
	margin-right: 55px;
}

.search {
	width: 162px;
	border: 1px solid #c2c2c2;
}

.posts {
	display: flex;
}